@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131313;
    --foreground: #ededed;
  }
}


body {
  background-size: cover;           /* or use `contain` depending on your preference */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:scroll;     /* optional: makes it stay in place on scroll */
  color: var(--foreground);
  font-family: 'ProxiNova', sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-drag: none;
}

img {
  pointer-events: none;
  user-drag: none;
  -webkit-user-drag: none;
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: #FF0040;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  ::selection {
    background-color: #000;
    color: #fff;
  }
}


@font-face {
  font-family: 'ProxiNova';
  src: url('/fonts/myFont/Proxima_Nova_Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
